---
http_interactions:
- request:
    method: get
    uri: https://a.4cdn.org/boards.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 20 Apr 2014 05:12:58 GMT
    body:
      encoding: UTF-8
      string: '{"boards":[{"board":"3","title":"3DCG","ws_board":1,"per_page":15,"pages":10},{"board":"a","title":"Anime
        \u0026 Manga","ws_board":1,"per_page":15,"pages":10},{"board":"adv","title":"Advice","ws_board":1,"per_page":15,"pages":10},{"board":"an","title":"Animals
        \u0026 Nature","ws_board":1,"per_page":15,"pages":10},{"board":"asp","title":"Alternative
        Sports","ws_board":1,"per_page":15,"pages":10},{"board":"b","title":"Random","ws_board":0,"per_page":15,"pages":10},{"board":"biz","title":"Business
        \u0026 Finance","ws_board":1,"per_page":15[...]
