---
http_interactions:
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/39894014.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 28 Apr 2014 22:09:35 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":39894014,"sticky":1,"closed":1,"now":"01\/27\/14(Mon)12:07","name":"Anonymous","com":"The
        \/g\/ Wiki:<br><a href=\"http:\/\/wiki.installgentoo.com\/\">http:\/\/wiki.installgentoo.com\/<\/a><br><br>\/g\/
        is for the discussion of technology and related topics.<br>\/g\/ is <b><u>NOT<\/u><\/b>
        your personal tech support team or personal consumer review site.<br><br>For
        tech support\/issues with computers:<br><a href=\"https:\/\/startpage.com\/\">https:\/\/startpage.com\/<\/a>
        or <a href=\"https:\/\/duckduckgo.com\">https:\/\/duckduckgo.com<\/a> (i.e.,
        fucking goo[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41676075.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 22:45:04 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41676075,"now":"04\/30\/14(Wed)18:27:57","name":"Anonymous","com":"Sony
        has developed a 185TB tape. What do?<br><br>http:\/\/mobile.extremetech.com\/lates<wbr>t\/221324-sony-develops-tech-for-185<wbr>tb-tapes-3700-times-more-storage-th<wbr>an-a-blu-ray-disc","filename":"dfnsgsjn","ext":".jpg","w":425,"h":374,"tn_w":250,"tn_h":220,"tim":1398896877731,"time":1398896877,"md5":"wJGV5AVc1sqba1CH6HVbXw==","fsize":16802,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"sony-has-developed-a-185tb-tape-what-do","replies":5,"images":0},{"no":41676147,"now":"04\/30\/14(Wed)18:32:27","name":"Anonymous","com":"<a
        href=\"#p41676075\" class=\"quotelink\">&gt;&gt;41676075<\/a><br>i once asked
        7chan a similar question, someone who had experience with using them in an
        enterprise environment said theyre unreliable as fuck, and of course theyre
        linear storage devices","time":1398897147,"resto":41676075},{"no":41676223,"now":"04\/30\/14(Wed)18:37:50","name":"Anonymous","com":"<a
        href=\"#p41676147\" class=\"quotelink\">&gt;&gt;41676147<\/a><br>Why not move
        it to the coordinate plane?","time":1398897470,"resto":41676075},{"no":41676300,"now":"04\/30\/14(Wed)18:42:56","name":"Anonymous","com":"If
        it could be made more reliable it would be great for archiving large amounts
        of data. In it&#039;s current form it sounds like one magnet could wipe it
        clean","time":1398897776,"resto":41676075},{"no":41676313,"now":"04\/30\/14(Wed)18:43:42","name":"Anonymous","com":"<a
        href=\"#p41676075\" class=\"quotelink\">&gt;&gt;41676075<\/a><br>Petabytes
        when?","time":1398897822,"resto":41676075},{"no":41676330,"now":"04\/30\/14(Wed)18:45:02","name":"Anonymous","com":"<a
        href=\"#p41676075\" class=\"quotelink\">&gt;&gt;41676075<\/a><br><br>Nothing.
        Tapes are only good for long term storage because they are slow.","time":1398897902,"resto":41676075}]}'
  recorded_at: Wed, 30 Apr 2014 22:45:46 GMT
[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41668576.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 22:45:01 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41668576,"now":"04\/30\/14(Wed)09:46:18","name":"Anonymous","sub":"Stupid
        Question Thread","com":"So since the old one is about to spongle: <br>I start:
        <br><br>I want to create a bootable USB with UnetBootin on my Linux laptop.<br><br>I
        tried to install Open BSD, gnewsense and CentOS on the USB. Everything worked
        well UNTIL I boot from this USB. An that case, all I see is this:<br><br><pre
        class=\"prettyprint\">Non system disk.<br>Press return to reboot.<\/pre><br><br>The
        distro is Kali Linux, The USB is from PN[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41659051.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 22:44:58 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41659051,"now":"04\/29\/14(Tue)20:01:55","name":"Anonymous","com":"What
        do you make of Richard Stallman being described as a strange, misguided man?
        Does it bother you?","filename":"Screen Shot 2014-04-30 at 01.00.34","ext":".png","w":711,"h":610,"tn_w":250,"tn_h":214,"tim":1398816115118,"time":1398816115,"md5":"1voyEaWmDb4ZiZpLxzheCQ==","fsize":336699,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"what-do-you-make-of-richard-stallman-being","replies":258,"images":26},{"no":41659147,"now":"04\/29\/14(Tue)20:08:30","name":"Anonymous","com":"no","time":1398816510,"resto":41659051},{"no":41659148,"now":"04\/29\/14(Tue)20:08:34","name":"Anonymous","com":"le
        bump","time":1398816514,"resto":41659051},{"no":41659154,"now":"04\/29\/14(Tue)20:08:58","name":"Anonymous","com":"<a
        href=\"#p41659051\" class=\"quotelink\">&gt;&gt;41659051<\/a><br><span class=\"quote\">&gt;jizzmodo<\/span><br>Not
        in the least.","time":1398816538,"resto":41659051},{"no":41659157,"now":"04\/29\/14(Tue)20:09:17","name":"Anonymous","com":"I&#039;m
        more surprised that Gizmodo had an accurate headline for once","time":1398816557,"resto":41659051},{"no":41659169,"now":"04\/29\/14(Tue)20:09:43","name":"Anonymous","com":"He
        IS strange and misguided in many ways but he is still my hero.","time":1398816583,"resto":41659051},{"no":41659173,"now":"04[...]
[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41676166.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 22:45:09 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41676166,"now":"04\/30\/14(Wed)18:34:21","name":"Anonymous","email":"shshs@gmail.com","sub":"Pick
        a laptop","com":"Hi \/g\/. Can you please help me with picking the right laptop
        since I don&#039;t know much about the new ones. Budget - 500 pounds (845
        dollars). Screen - 12.1 to 13.3 (I can concider even bigger but would like
        to stick with this). It has to be firm, I&#039;m just throwing away my old
        HP, and never more some cheap plastic crap. Anyone any idea?","filename":"lenovo-laptop-ideapad-yoga-13-orange-4modes","ext":".png","w":400,"h":300,"tn_w":250,"tn_h":187,"tim":1398897261631,"time":1398897261,"md5":"2WJtdo3VJwUdA9sjEHBs6g==","fsize":71070,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"pick-a-laptop","replies":3,"images":0},{"no":41676229,"now":"04\/30\/14(Wed)18:38:13","name":"Anonymous","com":"Read
        the rules, asshole.<br><br>That said, get a nice lenovo. Not a cheap one.","time":1398897493,"resto":41676166},{"no":41676315,"now":"04\/30\/14(Wed)18:43:58","name":"Anonymous","com":"gentoo
        is my favourite laptop","time":1398897838,"resto":41676166},{"no":41676332,"now":"04\/30\/14(Wed)18:45:08","name":"Anonymous","email":"shshs@gmail.com","com":"<a
        href=\"#p41676229\" class=\"quotelink\">&gt;&gt;41676229<\/a><br>Thanks. Do
        you think one for 500 pounds will be ok? I read the rules, what exactly do
        you mean?","time":1398897908,"resto":41676166}]}'
  recorded_at: Wed, 30 Apr 2014 22:45:49 GMT
[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41674082.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 22:42:35 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41674082,"now":"04\/30\/14(Wed)16:17:53","name":"Anonymous","sub":"TOX","com":"Bakemonogatari
        thread<br>http:\/\/tox.im\/en<br><br>For finding other tox users:<br>http:\/\/addmeif.com\/<br><br>Old
        thread: <span class=\"deadlink\">&gt;&gt;41646357<\/span>","filename":"tox-tan","ext":".jpg","w":1413,"h":2118,"tn_w":166,"tn_h":250,"tim":1398889073708,"time":1398889073,"md5":"98bTyEPMZa67NML20ElwYA==","fsize":492017,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"tox","replies":113,"images":5},{"no":41674092,"now":"04\/30\/14(Wed)16:18:26","name":"Anonymous","com":"stqism
        a shit","time":1398889106,"resto":41674082},{"no":41674131,"now":"04\/30\/14(Wed)16:20:44","name":"Anonymous","com[...]
[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41660259.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 22:42:09 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41660259,"now":"04\/29\/14(Tue)21:18:27","name":"Anonymous","sub":"Guts
        - Spring Edition","com":"It&#039;s a nice day out. Post yer guts.","filename":"guts","ext":".jpg","w":1000,"h":1000,"tn_w":250,"tn_h":250,"tim":1398820707776,"time":1398820707,"md5":"CZzwYMloczFQvjDfuvBXqQ==","fsize":307009,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"guts-spring-edition","replies":98,"images":39},{"no":41660291,"now":"04\/29\/14(Tue)21:20:34","name":"Anonymous","com":"Sadly
        it&#039;s shitty outside, but here it is with my somewhat bad camera, it looks
        a lot better in person of course, just built it over the weekend. I have an
        840 evo coming tomorrow and think i&#039;ll get this heatsink or something
        http:\/\/www.newegg.com\/Product\/Produ<wbr>ct.aspx?Item=N82E16835103185","filename":"LVfx3py","ext":".jpg","w":2592,"h":1936,"tn_w":125,"tn_h":93,"tim":1398820834136,"time":1398820834,"md5":"P5ldsx7wXmWhunNnnE4Qlg==","fsize":825260,"resto":41660259},{"no":41660375,"now":"04\/29\/14(Tue)21:25:25","name":"Anonymous","com":"<a
        href=\"#p41660291\" class=\"quotelink\">&gt;&gt;41660291<\/a><br>are you planning
        on keeping both hdd cages in there?","time":1398821125,"resto":41660259},{"no":41660415,"now":"04\/29\/14(Tue)21:27:43","name":"Anonymous","com":"<a
        href=\"#p41660375\" class=\"quotelink\">&gt;&gt;41660375<\/a><br>idk I was
        using it now just to support the gpu sag with that tie strap but i think ill
        just use black fishing line instead hooked to the top if I take out the top
        cage","time":1398821263,"resto":41660259},{"no":41660498,"now":"04\/29\/14(Tue)21:32:25","com":"One
        day when I have a table on my deck or something I will bring it outside for
        a couple pics and a cleaning.","filename":"guts","ext":".jpg","w":2592,"h":1728,"tn_w":125,"tn_h":83,"tim":1398821545779,"time":1398821545,"md5":"w\/aSFZHRNV5SQQjAd\/ZC+g==","fsize":1191262,"resto":41660259,"trip":"!cyBorg\/lUE"},{"no":41661150,"now":"04\/29\/14(Tue)22:12:50","name":"Anonymous","com":"It&#039;s
        raining outside...","filename":"2ComputerApril2014","ext":".jpg","w":3100,"h":1500,"tn_w":125,"tn_h":60,"tim":1398823970302,"time":1398823970,"md5":"2CqWswUuP2GEQHjA04hbjQ==","fsize":1298942,"resto":41660259},{"no":41661430,"now":"04\/29\/14(Tue)22:30:21","name":"Anonymous","com":"Just
        ordered some sleeved cables","filename":"build","ext":".jpg","w":2592,"h":1944,"tn_w":125,"tn_h":9[...]
[...]
