---
http_interactions:
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/39894014.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 28 Apr 2014 22:09:35 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":39894014,"sticky":1,"closed":1,"now":"01\/27\/14(Mon)12:07","name":"Anonymous","com":"The
        \/g\/ Wiki:<br><a href=\"http:\/\/wiki.installgentoo.com\/\">http:\/\/wiki.installgentoo.com\/<\/a><br><br>\/g\/
        is for the discussion of technology and related topics.<br>\/g\/ is <b><u>NOT<\/u><\/b>
        your personal tech support team or personal consumer review site.<br><br>For
        tech support\/issues with computers:<br><a href=\"https:\/\/startpage.com\/\">https:\/\/startpage.com\/<\/a>
        or <a href=\"https:\/\/duckduckgo.com\">https:\/\/duckduckgo.com<\/a> (i.e.,
        fucking goo[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41676075.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 22:45:04 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41676075,"now":"04\/30\/14(Wed)18:27:57","name":"Anonymous","com":"Sony
        has developed a 185TB tape. What do?<br><br>http:\/\/mobile.extremetech.com\/lates<wbr>t\/221324-sony-develops-tech-for-185<wbr>tb-tapes-3700-times-more-storage-th<wbr>an-a-blu-ray-disc","filename":"dfnsgsjn","ext":".jpg","w":425,"h":374,"tn_w":250,"tn_h":220,"tim":1398896877731,"time":1398896877,"md5":"wJGV5AVc1sqba1CH6HVbXw==","fsize":16802,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"sony-has-developed-a-185tb-tape-what-do","replies":5,"images":0},{"no":41676147,"now":"04\/30\/14(Wed)18:32:27","name":"Anonymous","com":"<a
        href=\"#p41676075\" class=\"quotelink\">&gt;&gt;41676075<\/a><br>i once asked
        7chan a similar question, someone who had experience with using them in an
        enterprise environment said theyre unreliable as fuck, and of course theyre
        linear storage devices","time":1398897147,"resto":41676075},{"no":41676223,"now":"04\/30\/14(Wed)18:37:50","name":"Anonymous","com":"<a
        href=\"#p41676147\" class=\"quotelink\">&gt;&gt;41676147<\/a><br>Why not move
        it to the coordinate plane?","time":1398897470,"resto":41676075},{"no":41676300,"now":"04\/30\/14(Wed)18:42:56","name":"Anonymous","com":"If
        it could be made more reliable it would be great for archiving large amounts
        of data. In it&#039;s current form it sounds like one magnet could wipe it
        clean","time":1398897776,"resto":41676075},{"no":41676313,"now":"04\/30\/14(Wed)18:43:42","name":"Anonymous","com":"<a
        href=\"#p41676075\" class=\"quotelink\">&gt;&gt;41676075<\/a><br>Petabytes
        when?","time":1398897822,"resto":41676075},{"no":41676330,"now":"04\/30\/14(Wed)18:45:02","name":"Anonymous","com":"<a
        href=\"#p41676075\" class=\"quotelink\">&gt;&gt;41676075<\/a><br><br>Nothing.
        Tapes are only good for long term storage because they are slow.","time":1398897902,"resto":41676075}]}'
  recorded_at: Wed, 30 Apr 2014 22:45:08 GMT
[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41668576.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 22:45:01 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41668576,"now":"04\/30\/14(Wed)09:46:18","name":"Anonymous","sub":"Stupid
        Question Thread","com":"So since the old one is about to spongle: <br>I start:
        <br><br>I want to create a bootable USB with UnetBootin on my Linux laptop.<br><br>I
        tried to install Open BSD, gnewsense and CentOS on the USB. Everything worked
        well UNTIL I boot from this USB. An that case, all I see is this:<br><br><pre
        class=\"prettyprint\">Non system disk.<br>Press return to reboot.<\/pre><br><br>The
        distro is Kali Linux, The USB is from PN[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41659051.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 22:44:58 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41659051,"now":"04\/29\/14(Tue)20:01:55","name":"Anonymous","com":"What
        do you make of Richard Stallman being described as a strange, misguided man?
        Does it bother you?","filename":"Screen Shot 2014-04-30 at 01.00.34","ext":".png","w":711,"h":610,"tn_w":250,"tn_h":214,"tim":1398816115118,"time":1398816115,"md5":"1voyEaWmDb4ZiZpLxzheCQ==","fsize":336699,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"what-do-you-make-of-richard-stallman-being","replies":258,"images":26},{"no":41659147,"now":"04\/29\/14(Tue)20:08:30","name":"Anonymous","com":"no","time":1398816510,"resto":41659051},{"no":41659148,"now":"04\/29\/14(Tue)20:08:34","name":"Anonymous","com":"le
        bump","time":1398816514,"resto":41659051},{"no":41659154,"now":"04\/29\/14(Tue)20:08:58","name":"Anonymous","com":"<a
        href=\"#p41659051\" class=\"quotelink\">&gt;&gt;41659051<\/a><br><span class=\"quote\">&gt;jizzmodo<\/span><br>Not
        in the least.","time":1398816538,"resto":41659051},{"no":41659157,"now":"04\/29\/14(Tue)20:09:17","name":"Anonymous","com":"I&#039;m
        more surprised that Gizmodo had an accurate headline for once","time":1398816557,"resto":41659051},{"no":41659169,"now":"04\/29\/14(Tue)20:09:43","name":"Anonymous","com":"He
        IS strange and misguided in many ways but he is still my hero.","time":1398816583,"resto":41659051},{"no":41659173,"now":"04[...]
[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41676166.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 22:45:09 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41676166,"now":"04\/30\/14(Wed)18:34:21","name":"Anonymous","email":"shshs@gmail.com","sub":"Pick
        a laptop","com":"Hi \/g\/. Can you please help me with picking the right laptop
        since I don&#039;t know much about the new ones. Budget - 500 pounds (845
        dollars). Screen - 12.1 to 13.3 (I can concider even bigger but would like
        to stick with this). It has to be firm, I&#039;m just throwing away my old
        HP, and never more some cheap plastic crap. Anyone any idea?","filename":"lenovo-laptop-ideapad-yoga-13-orange-4modes","ext":".png","w":400,"h":300,"tn_w":250,"tn_h":187,"tim":1398897261631,"time":1398897261,"md5":"2WJtdo3VJwUdA9sjEHBs6g==","fsize":71070,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"pick-a-laptop","replies":3,"images":0},{"no":41676229,"now":"04\/30\/14(Wed)18:38:13","name":"Anonymous","com":"Read
        the rules, asshole.<br><br>That said, get a nice lenovo. Not a cheap one.","time":1398897493,"resto":41676166},{"no":41676315,"now":"04\/30\/14(Wed)18:43:58","name":"Anonymous","com":"gentoo
        is my favourite laptop","time":1398897838,"resto":41676166},{"no":41676332,"now":"04\/30\/14(Wed)18:45:08","name":"Anonymous","email":"shshs@gmail.com","com":"<a
        href=\"#p41676229\" class=\"quotelink\">&gt;&gt;41676229<\/a><br>Thanks. Do
        you think one for 500 pounds will be ok? I read the rules, what exactly do
        you mean?","time":1398897908,"resto":41676166}]}'
  recorded_at: Wed, 30 Apr 2014 22:45:11 GMT
[...]
