---
http_interactions:
- request:
    method: get
    uri: https://a.4cdn.org/g/catalog.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 May 2014 18:56:13 GMT
    body:
      encoding: UTF-8
      string: '[{"page":1,"threads":[{"no":39894014,"sticky":1,"closed":1,"now":"01\/27\/14(Mon)12:07","name":"Anonymous","com":"The
        \/g\/ Wiki:<br><a href=\"http:\/\/wiki.installgentoo.com\/\">http:\/\/wiki.installgentoo.com\/<\/a><br><br>\/g\/
        is for the discussion of technology and related topics.<br>\/g\/ is <b><u>NOT<\/u><\/b>
        your personal tech support team or personal consumer review site.<br><br>For
        tech support\/issues with computers:<br><a href=\"https:\/\/startpage.com\/\">https:\/\/startpage.com\/<\/a>
        or <a href=\"https:\/\/duckduckgo.com\">https:\/\/duckduckgo.com<\/a> (i.e.,
        fucking goo[...]
- request:
    method: get
    uri: https://a.4cdn.org/g/thread/39894014.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 28 Apr 2014 22:09:35 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":39894014,"sticky":1,"closed":1,"now":"01\/27\/14(Mon)12:07","name":"Anonymous","com":"The
        \/g\/ Wiki:<br><a href=\"http:\/\/wiki.installgentoo.com\/\">http:\/\/wiki.installgentoo.com\/<\/a><br><br>\/g\/
        is for the discussion of technology and related topics.<br>\/g\/ is <b><u>NOT<\/u><\/b>
        your personal tech support team or personal consumer review site.<br><br>For
        tech support\/issues with computers:<br><a href=\"https:\/\/startpage.com\/\">https:\/\/start[...]
- request:
    method: get
    uri: https://a.4cdn.org/g/thread/41703004.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 May 2014 18:56:12 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41703004,"now":"05\/02\/14(Fri)09:17:02","name":"Anonymous","sub":"Questions
        thread","com":"Old one is full. Questions thread.<br><br>I (just like pretty
        much everyone else) updated to Firefox 29. So far not much has changed, and
        since I&#039;m using Tree Style Tabs I don&#039;t get the chrome-like feel.<br><br>One
        thing that bothers me though; Two different colors of the top bar. How do
        I change this?<br><br>(pic in next post)<br><br><span class=\"quote\">&gt;obligatory
        pic<\/span>","filename":"question","ext":".jpg","w":600,"h":375,"tn_w":250,"tn_h":156,"tim":1399036622103,"time":1399036622,"md5":"ifX5IaAd\/qPjwT20mQLHXw==","fsize":128847,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"questions-thread","replies":113,"images":12},{"no":41703018,"now":"05\/02\/14(Fri)09:18:10","name":"Anonymous","com":"Pic
        of firefox","filename":"Sk\u00e6rmbillede 2014-05-02 kl. 15.14.45","ext":".png","w":2880,"h":1800,"tn_w":125,"tn_h":78,"tim":1399036690817,"time":1399036690,"md5":"\/57rez+eAALzyGY764rtpg==","fsize":1053939,"resto":41703004},{"no":41703135,"now":"05\/02\/14(Fri)09:28:34","name":"Anonymous","com":"Deluge
        or transmission for windows? I want to escape the botnet.","time":1399037314,"resto":41703004},{"n[...]
[...]
- request:
    method: get
    uri: https://a.4cdn.org/g/thread/41707094.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 May 2014 18:55:46 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41707094,"now":"05\/02\/14(Fri)14:35:08","name":"Anonymous","com":"WIP
        KDE next<br><br>What do you think so far?<br><br>http:\/\/forum.kde.org\/viewtopic.php?<wbr>f=285&amp;t=120084&amp;sid=c9e1edb82a237138<wbr>df9e6977c5ae300d&amp;start=105","filename":"windowdecoration_sample","ext":".png","w":1554,"h":621,"tn_w":250,"tn_h":99,"tim":1399055708849,"time":1399055708,"md5":"dbGAABfzVXYY4qHsxRIyhA==","fsize":950332,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"wip-kde-next-what-do-you-think-so-far","replies":12,"images":1},{"no":41707116,"now":"05\/02\/14(Fri)14:36:26","name":"Anonymous","com":"<a
        href=\"#p41707094\" class=\"quotelink\">&gt[...]
- request:
    method: get
    uri: https://a.4cdn.org/g/thread/41706002.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 May 2014 18:55:19 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41706002,"now":"05\/02\/14(Fri)13:23:12","name":"Anonymous","sub":"Ghetto
        rigs and stuff","com":"On a scale of 0-10, how ghetto is my rig?<br><br>Also
        ghetto rig thread, post what you have.","filename":"DSC00195","ext":".jpg","w":2048,"h":1536,"tn_w":250,"tn_h":187,"tim":1399051392329,"time":1399051392,"md5":"GJCdFfpmmcDHFlpdvoSL8w==","fsize":631621,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"ghetto-rigs-and-stuff","replies":9,"images":2},{"no":41706070,"now":"05\/02\/14(Fri)13:27:44","name":"Faggot","email":"http:\/\/www.goatse.info\/","com":"<a
        href=\"#p41706002\" class=\"quotelink\">&gt;&gt;41706002<\/a><br>0\/10 keyboard
        fucks it up yuo need some chiclet shit.","time":1399051664,"resto":41706002},{"no":41706612,"now":"05\/02\/14(Fri)14:03:57","name":"Anonymous","com":"Don&#039;t
        you have a table?","time":1399053837,"resto":41706002},{"no":41706663,"now":"05\/02\/14(Fri)14:07:00","name":"Anonymous","com":"<a
        href=\"#p41706002\" class=\"quotelink\">&gt;&gt;41706002<[...]
[...]
