---
http_interactions:
- request:
    method: get
    uri: http://a.4cdn.org/boards.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 20 Apr 2014 05:12:58 GMT
    body:
      encoding: UTF-8
      string: '{"boards":[{"board":"3","title":"3DCG","ws_board":1,"per_page":15,"pages":10},{"board":"a","title":"Anime
        \u0026 Manga","ws_board":1,"per_page":15,"pages":10},{"board":"adv","title":"Advice","ws_board":1,"per_page":15,"pages":10},{"board":"an","title":"Animals
        \u0026 Nature","ws_board":1,"per_page":15,"pages":10},{"board":"asp","title":"Alternative
        Sports","ws_board":1,"per_page":15,"pages":10},{"board":"b","title":"Random","ws_board":0,"per_page":15,"pages":10},{"board":"biz","title":"Business
        \u0026 Finance","ws_board":1,"per_page":15[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/catalog.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 22:45:05 GMT
    body:
      encoding: UTF-8
      string: '[{"page":1,"threads":[{"no":39894014,"sticky":1,"closed":1,"now":"01\/27\/14(Mon)12:07","name":"Anonymous","com":"The
        \/g\/ Wiki:<br><a href=\"http:\/\/wiki.installgentoo.com\/\">http:\/\/wiki.installgentoo.com\/<\/a><br><br>\/g\/
        is for the discussion of technology and related topics.<br>\/g\/ is <b><u>NOT<\/u><\/b>
        your personal tech support team or personal consumer review site.<br><br>For
        tech support\/issues with computers:<br><a href=\"https:\/\/startpage.com\/\">https:\/\/startpage.com\/<\/a>
        or <a href=\"https:\/\/duckduckgo.com\">https:\/\/duckduckgo.com<\/a> (i.e.,
        fucking goo[...]
