---
http_interactions:
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41658861.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 08:22:33 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41658861,"now":"04\/29\/14(Tue)19:50:08","name":"Anonymous","sub":"Daily
        Programming Thread","com":"Daily Programming Thread<br><br>Honor fuzetsu then
        tell us what are you working on","filename":"dptfuzetsu","ext":".png","w":779,"h":465,"tn_w":250,"tn_h":149,"tim":1398815408707,"time":1398815408,"md5":"TOKqr4p8cI1OnfrjahFM9A==","fsize":353362,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"daily-programming-thread","replies":68,"images":7},{"no":41658900,"now":"04\/29\/14(Tue)19:52:44","name":"Anonymous","com":"Where
        did he go? Do you think he still browses \/g\/, just without trip? Or did
        he leave us forever??? <br><br>;____;","time":1398815564,"resto":41658861},{"no":41658906,"now":"04\/29\/14(Tue)19:53:10","name":"Anonymous","com":"im
        working on getting urxvt to allow me to click links but this shit is not working.
        anyone had this problem? using url-select perl script","time":1398815590,"resto":41658861},{"no":41658921,"now":"04\/29\/14(Tue)19:54:12","name":"Anonymous","com":"<a
        href=\"#p41658900\" class=\"quotelink\">&gt;&gt;41658900<\/a><br>he&#039;s
        on #haskell<br><br>and here without trip<br><br>but he wasn&#039;t picked
        for gSOC to do a haskell project so he&#039;s a faggot","time":1398815652,"resto":41658861},{"no":41660238,"now":"04\/29\/14(Tue)21:17:18","name":"Anonymous","com":"<a
        href=\"#p41658921\" class=\"quotelink\">&gt;&gt;41658921<\/a><br>learning
        Scala<br><br>but what can I do with it?","time":1398820638,"resto":41658861},{"no":41660430,"now":"04\/29\/14(Tue)21:28:23","name":"Anonymous","com":"Could
        someone post the beginner programming tasks?<br>Also:<pre class=\"prettyprint\">#include
        &lt;stdlib.h&gt;<br>#include &lt;stdio.h&gt;<br>#define TARG stdout<br> <br>
        <br>int main()<br> {<br>   int cell[30000]={0},pos=0,i=0,INDC=0,sh<wbr>ift=0,mode=0;<br>   char
        input[30000];                           \/*<br>   printf(&quot;input mode
        (0) or file mode (1)?: &quot;);<br>   scanf(&quot;%d&quot;,&amp;mode);                           *\/<br>   scanf(&quot;%s&quot;,&amp;input);<br>   fprintf(TARG,&quot;#include
        &lt;stdio.h&gt;\\n\\n\\n\\n\\n&quot;<br>                &quot;int main(void)\\n  {&quot;<br>                &quot;\\tint
        cell[30000]={0},pos=0;\\n&quot;);<br>   for(;i!=sizeof(input)&amp;&amp;in[...]
