---
http_interactions:
- request:
    method: get
    uri: http://a.4cdn.org/g/threads.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 30 Apr 2014 08:22:00 GMT
    body:
      encoding: UTF-8
      string: '[{"page":1,"threads":[{"no":39894014,"last_modified":1392330834},{"no":41665529,"last_modified":1398846117},{"no":41653669,"last_modified":1398846113},{"no":41665465,"last_modified":1398846118},{"no":41665525,"last_modified":1398846069},{"no":41659144,"last_modified":1398846051},{"no":41663005,"last_modified":1398846040},{"no":41660443,"last_modified":1398846035},{"no":41665188,"last_modified":1398846024},{"no":41654693,"last_modified":1398846010},{"no":41661427,"last_modified":1398845975},{"no":41662080,"last_modified":1398845973},{"no":41659262,[...]
