---
http_interactions:
- request:
    method: get
    uri: http://a.4cdn.org/g/threads.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 May 2014 19:08:10 GMT
    body:
      encoding: UTF-8
      string: '[{"page":1,"threads":[{"no":39894014,"last_modified":1392330834},{"no":41705152,"last_modified":1399057684},{"no":41701877,"last_modified":1399057683},{"no":41698791,"last_modified":1399057683},{"no":41706976,"last_modified":1399057682},{"no":41700091,"last_modified":1399057676},{"no":41707609,"last_modified":1399057669},{"no":41698194,"last_modified":1399057659},{"no":41698428,"last_modified":1399057657},{"no":41702637,"last_modified":1399057652},{"no":41707507,"last_modified":1399057647},{"no":41706651,"last_modified":1399057631},{"no":41707576,[...]
