---
http_interactions:
- request:
    method: get
    uri: http://a.4cdn.org/g/catalog.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 May 2014 18:57:42 GMT
    body:
      encoding: UTF-8
      string: '[{"page":1,"threads":[{"no":39894014,"sticky":1,"closed":1,"now":"01\/27\/14(Mon)12:07","name":"Anonymous","com":"The
        \/g\/ Wiki:<br><a href=\"http:\/\/wiki.installgentoo.com\/\">http:\/\/wiki.installgentoo.com\/<\/a><br><br>\/g\/
        is for the discussion of technology and related topics.<br>\/g\/ is <b><u>NOT<\/u><\/b>
        your personal tech support team or personal consumer review site.<br><br>For
        tech support\/issues with computers:<br><a href=\"https:\/\/startpage.com\/\">https:\/\/startpage.com\/<\/a>
        or <a href=\"https:\/\/duckduckgo.com\">https:\/\/duckduckgo.com<\/a> (i.e.,
        fucking goo[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/39894014.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 28 Apr 2014 22:09:35 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":39894014,"sticky":1,"closed":1,"now":"01\/27\/14(Mon)12:07","name":"Anonymous","com":"The
        \/g\/ Wiki:<br><a href=\"http:\/\/wiki.installgentoo.com\/\">http:\/\/wiki.installgentoo.com\/<\/a><br><br>\/g\/
        is for the discussion of technology and related topics.<br>\/g\/ is <b><u>NOT<\/u><\/b>
        your personal tech support team or personal consumer review site.<br><br>For
        tech support\/issues with computers:<br><a href=\"https:\/\/startpage.com\/\">https:\/\/start[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41705152.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 May 2014 18:57:42 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41705152,"now":"05\/02\/14(Fri)12:18:37","name":"Anonymous","com":"Hey
        \/g\/, what monitors are you using?","filename":"benq","ext":".jpg","w":1125,"h":1500,"tn_w":187,"tn_h":250,"tim":1399047517101,"time":1399047517,"md5":"eh4yP6MICHzvLy8\/C2g0nw==","fsize":71502,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"hey-g-what-monitors-are-you-using","replies":76,"images":19},{"no":41705172,"now":"05\/02\/14(Fri)12:19:53","name":"Anonymous","com":"<a
        href=\"#p41705152\" class=\"quotelink\">&gt;&gt;41705152<\/a><br>Dell U2312H
        IPS monitor and a BenQ SP840 DLP Projector.","time":1399047593,"resto":41705152},{"no":41705185,"now":"05\/02\/14(Fri)12:20:44","name":"Anonymous","com":"Asus
        VS22 and Dell U2313HM","time":1399047644,"resto":41705152},{"no":41705188,"now":"05\/02\/14(Fri)12:21:02","name":"Anonymous","com":"<a
        href=\"#p41705172\" class=\"quotelink\">&gt;&gt;41705172<\/a><br>*U2312HM<br><br>I
        also have an older 1280x1024 17&quot; LG TN monitor, but I&#039;m not currently
        using it.","filename":"dellu2312hm-2l","ext":".jpg","w":504,"h":350,"tn_w":125,"tn_h":86,"tim":1399047662911,"time":1399047662,"md5":"\/Q37QF9crDjbwQhQ9HWrfw==","fsize":42760,"resto":41705152},{"no":41705199,"now":"05\/02\/14(Fri)12:21:40","name":"Anonymous","com":"It&#039;s
        Dell just overpriced shit?","time":1399047700,"resto":41705152},{"no":41705213,"now":"05\/02\/14(Fri)12:22:42","name":"Anonymous","com":"<a
        href=\"#p41705199\" class=\"quotelink\">&gt;&gt;41705199<\/a><br>No, their
        Ultrasharp monitors offer great value.<br><span class=\"quote\">&gt;hurr the
        very color accurate 4K IPS monitor costs more than this Samsung one, but they
        are totally the same, right?<\/span>","time":1399047762,"resto":41705152},{"no":41705239,"now":"05\/02\/14(Fri)12:24:23","name":"Anonymous","com":"<a
        href=\"#p41705199\" class=\"quotelink\">&gt;&gt;41705199<\/a><br><span class=\"quote\">&gt;It&#039;s
        Dell just overpriced shit?<\/span><br><span class=\"quote\">&gt;It is Dell
        just overpriced shit?<\/spa[...]
[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41707314.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 May 2014 18:57:41 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41707314,"now":"05\/02\/14(Fri)14:49:54","name":"Anonymous","sub":"FIREFOX
        = &quot;SPEED KING&quot;","com":"deal with it niggers","filename":"great","ext":".png","w":927,"h":388,"tn_w":250,"tn_h":104,"tim":1399056594609,"time":1399056594,"md5":"3BZS0g4hGTE4lXdZtvdKGg==","fsize":35451,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"firefox-speed-king","replies":4,"images":0},{"no":41707338,"now":"05\/02\/14(Fri)14:51:25","name":"Anonymous","com":"<a
        href=\"#p41707314\" class=\"quotelink\">&gt;&gt;41707314<\/a><br>Circa 2009.
        Come [...]
[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41707094.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 May 2014 18:57:28 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41707094,"now":"05\/02\/14(Fri)14:35:08","name":"Anonymous","com":"WIP
        KDE next<br><br>What do you think so far?<br><br>http:\/\/forum.kde.org\/viewtopic.php?<wbr>f=285&amp;t=120084&amp;sid=c9e1edb82a237138<wbr>df9e6977c5ae300d&amp;start=105","filename":"windowdecoration_sample","ext":".png","w":1554,"h":621,"tn_w":250,"tn_h":99,"tim":1399055708849,"time":1399055708,"md5":"dbGAABfzVXYY4qHsxRIyhA==","fsize":950332,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"wip-kde-next-what-do-you-think-so-far","replies":14,"images":1},{"no":41707116,"now":"05\/02\/14(Fri)14:36:26","name":"Anonymous","com":"<a
        href=\"#p41707094\" class=\"quotelink\">&gt[...]
[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41706867.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 May 2014 18:57:10 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41706867,"now":"05\/02\/14(Fri)14:19:17","name":"hexafl","com":"Now
        that the most advanced mobile OS in the world is getting a proper file manager,
        why haven&#039;t you made the switch?<br>http:\/\/imgur.com\/a\/hvqGD","filename":"1KTIT4F","ext":".png","w":480,"h":800,"tn_w":150,"tn_h":250,"tim":1399054757733,"time":1399054757,"md5":"EaP6QeRa9KC\/wfQ4IfhbDg==","fsize":40044,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"now-that-the-most-advanced-mobile-os-in-the-world","trip":"!UORIde8Djk","replies":21,"images":2},{"no":41706879,"now":"05\/02\/14(Fri)14:19:54","name":"Anonymous","com":"NO
        APPS","time":1399054794,"resto":41706867},{"no":41706887,"now":"05\/02\/14(Fri)14:20:22","name":"Anonymous","com":"doesn&#039;t
        respect my freedoms","time":1399054822,"resto":41706867},{"no":41706901,"now":"05\/02\/14(Fri)14:21:09","name":"Anonymous","com":"<span
        class=\"quote\">&gt;that ui<\/span><br>it looks like some pre-alpha","filename":"lelns","ext":".w[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41707426.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 May 2014 18:57:09 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41707426,"now":"05\/02\/14(Fri)14:57:08","name":"Anonymous","sub":"Microphone
        thread","com":"Looking for a directional microphone, background noise needs
        to be extremely minimal. Best microphone brands? budget is up to \u00a3150
        but would prefer to not overspend as it&#039;s not being used outdoors or
        for anything fancy.<br><br>If you can&#039;t contribute to my question...
        Microphone general!","filename":"mic","ext":".jpg","w":1000,"h":576,"tn_w":250,"tn_h":144,"tim":1399057028463,"time":1399057028,"md5":"GJtcoEx2Bxd5ac4Qkevehw==","fsize":31283,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"microphone-thread","replies":0,"images":0}]}'
  recorded_at: Fri, 02 May 2014 18:57:58 GMT
[...]
- request:
    method: get
    uri: http://a.4cdn.org/g/thread/41706002.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 May 2014 18:55:19 GMT
    body:
      encoding: UTF-8
      string: '{"posts":[{"no":41706002,"now":"05\/02\/14(Fri)13:23:12","name":"Anonymous","sub":"Ghetto
        rigs and stuff","com":"On a scale of 0-10, how ghetto is my rig?<br><br>Also
        ghetto rig thread, post what you have.","filename":"DSC00195","ext":".jpg","w":2048,"h":1536,"tn_w":250,"tn_h":187,"tim":1399051392329,"time":1399051392,"md5":"GJCdFfpmmcDHFlpdvoSL8w==","fsize":631621,"resto":0,"bumplimit":0,"imagelimit":0,"semantic_url":"ghetto-rigs-and-stuff","replies":9,"images":2},{"no":41706070,"now":"05\/02\/14(Fri)13:27:44","name":"Faggot","email":"http:\/\/www.goatse.info\/","com":"<a
        href=\"#p41706002\" class=\"quotelink\">&gt;&gt;41706002<\/a><br>0\/10 keyboard
        fucks it up yuo need some chiclet shit.","time":1399051664,"resto":41706002},{"no":41706612,"now":"05\/02\/14(Fri)14:03:57","name":"Anonymous","com":"Don&#039;t
        you have a table?","time":1399053837,"resto":41706002},{"no":41706663,"now":"05\/02\/14(Fri)14:07:00","name":"Anonymous","com":"<a
        href=\"#p41706002\" class=\"quotelink\">&gt;&gt;41706002<[...]
[...]
